services:
  watchtower:
    image: containrrr/watchtower:${watchtower_version:-latest}
    cpus: ${watchtower_cpus:-0.25}
    mem_limit: ${watchtower_mem_limit:-64m}
    container_name: watchtower
    hostname: ${HOSTNAME}
    restart: ${watchtower_restart:-unless-stopped}
    environment:
      WATCHTOWER_SCHEDULE: ${watchtower_schedule:-* 0 7 * * THU}
      WATCHTOWER_CLEANUP: "true"
      TZ: ${tz:-America/Chicago}
      WATCHTOWER_LABEL_ENABLE: ${WATCHTOWER_LABEL_ENABLE:=false}
      # SMTP Settings
      WATCHTOWER_NOTIFICATIONS: email
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER: ${watchtower_smtp:-smtp.gmail.com}
      WATCHTOWER_NOTIFICATION_EMAIL_FROM: ${EMAIL}
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT: ${watchtower_smtp_port:-587}
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER: ${EMAIL}
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD: ${EMAIL_PASS}
      WATCHTOWER_NOTIFICATION_EMAIL_TO: ${EMAIL}
      WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG: ${subject_tag}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
