services:
  watchtower:
    image: containrrr/watchtower:${WATCHTOWER_VERSION:-latest}
    cpus: ${WATCHTOWER_CPUS:-0.25}
    mem_limit: ${WATCHTOWER_MEM_LIMIT:-64m}
    container_name: watchtower
    hostname: ${HOSTNAME}
    restart: ${WATCHTOWER_RESTART:-unless-stopped}
    security_opt:
      - label:disable
    environment:
      WATCHTOWER_SCHEDULE: ${SCHEDULE:-"* 0 7 * * THU"}
      WATCHTOWER_CLEANUP: "true"
      TZ: ${TZ:-America/Chicago}
      WATCHTOWER_LABEL_ENABLE: ${LABEL_ENABLE:-false}
      # SMTP Settings
      WATCHTOWER_NOTIFICATIONS: email
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER: ${SMTP:-smtp.gmail.com}
      WATCHTOWER_NOTIFICATION_EMAIL_FROM: ${EMAIL}
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PORT: ${SMTP_PORT:-587}
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_USER: ${EMAIL}
      WATCHTOWER_NOTIFICATION_EMAIL_SERVER_PASSWORD: ${EMAIL_PASS}
      WATCHTOWER_NOTIFICATION_EMAIL_TO: ${EMAIL}
      WATCHTOWER_NOTIFICATION_EMAIL_SUBJECTTAG: ${SUBJECT_TAG}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
